:ruby
  inputs = [
    [:hand,     t("problem.hand"),     :text],
    [:bids,     t("problem.bids"),     :text],
    [:vul,      t("problem.vul"),      :select, menu: problem_vul_menu(problem.vul)],
    [:category, t("problem.category"), :list, maxlength: Problem::MAX_CATEGORY, data: problem_category_data],
    [:note,     t("problem.note"),     :area, rows: 20],
  ]
= render "utils/crud/form", object: problem, index: problems_path, inputs: inputs, title: title, center: Sni::Center.call(xl: 8, lg: 10)
